{% extends "base.html" %}

{% block content %}
    <div class="container">

         <div class="page-header" id="banner">
           <div class="row">
                 <img src="{{ url_for('static', filename='img/logo.png') }}"/>
             <div class="col-lg-6">
               <h1>Caregiver Login</h1>
               <p class="lead">Enter username and password to access medical account.</p>
             </div>
             <div class="col-lg-6">
               <div class="bsa well">
                 <div class="form-group">
                       <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                       <div class="col-lg-10">
                         <input type="text" class="form-control" id="inputEmail" placeholder="john@gmail.com">
                       </div>
                     </div>
                  <div class="form-group">
                       <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                       <div class="col-lg-10">
                         <input type="password" class="form-control" id="inputPassword" placeholder="password">
                       </div>
                     </div>
                   <div class="form-group">
                       <div class="col-lg-10 col-lg-offset-2">
                         <button class="btn btn-default">Cancel</button>
                         <a class="btn btn-primary" href="/">Submit</a>
                       </div>
                     </div>
               </div>
             </div>
           </div>
         </div>


         <footer>
           <div class="row">
             <div class="col-lg-12">
               <p>All Rights Reserved. DocNotes.</a>.</p>

             </div>
           </div>

         </footer>


       </div>
    
{% endblock %}