{% extends "base.html" %}

{% block content %}
    
    <h2>Resources</h2>

    <ul>
        <li>Area Agencies on Aging (AAAs): Help adults age 60 and older and their caregivers. To find the AAA in your area, call The Eldercare Locator at 1-800-677-1116 weekdays from 9:00 a.m. to 8:00 p.m. (EST), or visit www.eldercare.gov.</li>
        <li>Long-Term Care (LTC) Ombudsman Program: Advocate for, and promote the rights of, residents in LTC facilities. Visit www.Ltcombudsman.org.</li>
        <li>Aging and Disability Resource Centers (ADRCs): Offer resources to help people of all incomes and ages stay independent. Visit www.adrc-tae.org.</li>
        <li>Centers for Independent Living (CILs): Help people with disabilities live independently. For a state-by-state directory of CILs, visit www.ilru.org/html/publications/directory/index.html.</li>
        <li>State Technology Assistance Project: Has information on medical equipment and other assistive technology. Call 1-703-524-6686 to get the contact information for your state, or visit www.resna.org.</li>
    </ul>

{% endblock %}