{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="page-header">
    <h2>Resources</h2>

    <ul>
        <li><p class="label label-primary">Area Agencies on Aging (AAAs):</p> Help adults age 60 and older and their caregivers. To find the AAA in your area, call The Eldercare Locator at 1-800-677-1116 weekdays from 9:00 a.m. to 8:00 p.m. (EST), or visit www.eldercare.gov.</li>
        <li><p class="label label-primary">Long-Term Care (LTC) Ombudsman Program:</p> Advocate for, and promote the rights of, residents in LTC facilities. Visit www.Ltcombudsman.org.</li>
        <li><p class="label label-primary">Aging and Disability Resource Centers (ADRCs):</p> Offer resources to help people of all incomes and ages stay independent. Visit www.adrc-tae.org.</li>
        <li><p class="label label-primary">Centers for Independent Living (CILs):</p> Help people with disabilities live independently. For a state-by-state directory of CILs, visit www.ilru.org/html/publications/directory/index.html.</li>
        <li><p class="label label-primary">State Technology Assistance Project:</p> Has information on medical equipment and other assistive technology. Call 1-703-524-6686 to get the contact information for your state, or visit www.resna.org.</li>
    </ul>
</div>

</div>
{% endblock %}