{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Symptoms</h3>
    <section>
        <p>Please watch out for these symptoms and it is important that you notify your doctor when you see something that is deviant.</p>
        <ul>
            <li>Weight Gain</li>
            <li>Inability to sleep</li>
            <li>Unable to walk as usual</li>
            <li>Indigestion</li>
            <li>Not feeling hungry</li>
        </ul>
        
    </section>
    </div>
</div>
{% endblock %}